@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 0.95;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@keyframes grid-line-shine {
  0% {
    transform: translateY(-100%);
  }

  20%,
  100% {
    transform: translateY(100vh);
  }
}
